<div class="sign-up-form">
  <h1>Edit Account</h1>
  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: 'Enter your username..', autofocus: true, class:'input-box' %>

    <%= f.submit 'Update', class: 'sign-up-btn' %>
  <% end %>
</div>
