:root {
  --main-color: #3778c2;
  --sec-color: #5fb523;
  --tet-color: #434b54;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  background: var(--main-color);
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul .nav-links,
.nav-links2 {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

.nav-links.active,
.nav-links:hover {
  background: #1b9bff;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.flash {
  color: var(--sec-color);
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: #ffc 0 0 4px;
}

#check {
  display: none;
}

#errors {
  margin: 1em 0;
  padding: 1em;
  background: var(--sec-color);
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #8b8c8d;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .brand-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-row-gap: 50px;
  }

  .btns {
    display: flex;
    flex-direction: column;
  }

  .edt-car-link {
    width: 90%;
    margin-bottom: 10px;
  }

  .edt-car-link a {
    color: antiquewhite;
    background-color: var(--main-color);
  }

  .own-it {
    background-color: var(--sec-color);
    color: white;
  }
}
