<h1 class="app-headers">All Brands</h1>



<div class="brand-grid">
  <% @brands.each do |brand| %>
    <div class="grid">
      <p><%= image_tag(brand.image.url, class: 'brand-pic') %></p>
    </div>
  <% end %>
</div>