<h1 class="app-headers">
  <%= image_tag(@brand.image.url, class: 'brand-pic' ) %>
</h1>

<div class="cards">
  <div class="card">
    <img class="card__image" src="https://fakeimg.pl/400x300/009578/fff/" alt="">
    <div class="card__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ducimus id ab tenetur delectus reiciendis fugit autem qui at.
      </p>
      <p>
        Alias itaque praesentium eum, pariatur consequatur ducimus asperiores accusantium velit minima?
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>310
      </div>
      <div>
        <a href="./" class="card__link">View Article</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://fakeimg.pl/400x300/252c6a/fff/" alt="">
    <div class="card__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ducimus id ab tenetur delectus reiciendis fugit autem qui at.
      </p>
      <p>
        Alias itaque praesentium eum, pariatur consequatur ducimus asperiores accusantium velit minima?
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>1,993
      </div>
      <div>
        <a href="./" class="card__link">View Article</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://fakeimg.pl/400x300/f1db26/000/" alt="">
    <div class="card__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ducimus id ab tenetur delectus reiciendis fugit autem qui at.
      </p>
      <p>
        Alias itaque praesentium eum, pariatur consequatur ducimus asperiores accusantium velit minima?
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>887
      </div>
      <div>
        <a href="./" class="card__link">View Article</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://fakeimg.pl/400x300/f1db26/000/" alt="">
    <div class="card__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ducimus id ab tenetur delectus reiciendis fugit autem qui at.
      </p>
      <p>
        Alias itaque praesentium eum, pariatur consequatur ducimus asperiores accusantium velit minima?
      </p>
    </div>
    <div class="card__info">
      <div>
        <i class="material-icons">thumb_up</i>887
      </div>
      <div>
        <a href="./" class="card__link">View Article</a>
      </div>
    </div>
  </div>
</div>