<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">Dreams</label>
  <ul>
    <%= user_links %>
  </ul>
</nav>