<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">Dreams</label>
  <ul>
    <li><a class="active nav-links" href="#">Home</a></li>
    <li><a href="#" class="nav-links">My Dream Cars</a></li>
    <li><a href="#" class="nav-links">Owned Cars</a></li>
    <li><a href="#" class="nav-links">All Brands</a></li>
    <% if logged_in? %>
      <%= link_to 'Sign Out', logout_path, method: :delete, class: 'nav-links' %>
    <% else %>
      <%= link_to 'Sign In', login_path, class: 'nav-links' %>
    <% end %>
  </ul>
</nav>