<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">DesignX</label>
  <ul>
    <li><a class="active nav-links" href="#">Home</a></li>
    <li><a href="#" class="nav-links">About</a></li>
    <li><a href="#" class="nav-links">Services</a></li>
    <li><a href="#" class="nav-links">Contact</a></li>
    <li><a href="#" class="nav-links">Feedback</a></li>
  </ul>
</nav>